*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c4e0a3;
}
.header_images{
    display:flex; 
    flex-direction: row;  
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: blanchedalmond;
    white-space: nowrap;
    padding:10px;
    border-radius: 10px;
}
.image_wrapper{
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right, #4cae4f, #20b1a9);
}
.image_wrapper img{
    width:80px; 
    height:80px;
    display: block;
    border-radius: 50%;
    display: block;
}

.centre_image{
    display:flex; 
    justify-content: center; 
    height:100px; 
    width:200px;
    margin-top: 50px;
} 